.dice{
    float: left;
    width: 60px;
    height: 60px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
}

button {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a9b359), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #a9b359 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #a9b359 5%, #408c99 100%);
	background:-o-linear-gradient(top, #a9b359 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #a9b359 5%, #408c99 100%);
	background:linear-gradient(to bottom, #a9b359 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9b359', endColorstr='#408c99',GradientType=0);
	background-color:#a9b359;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #a9b359));
	background:-moz-linear-gradient(top, #408c99 5%, #a9b359 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #a9b359 100%);
	background:-o-linear-gradient(top, #408c99 5%, #a9b359 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #a9b359 100%);
	background:linear-gradient(to bottom, #408c99 5%, #a9b359 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#a9b359',GradientType=0);
	background-color:#408c99;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
  position:relative;
	top:1px;
}
